/* RESET DEFAULT CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* CONTAINERS */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
.header {
    background: #1e293b;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
    font-size: 1.4rem;
}

/* NAVIGATION */
.nav {
    display: flex;
    gap: 5rem;
}

.nav a {
    color: #e2e8f0;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    color: #38bdf8;
}

/* MOBILE MENU */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: #e2e8f0;
    cursor: pointer;
}

/* SECTIONS */
.section {
    padding: 60px 0;
}

/* ABOUT */

.about > .container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.about p {
    width: 80%;
    margin: 15px 20px 15px 0;
    font-size: 1.1rem;
}

.profile-img {
    margin-top: 30px;
    width: 18rem;
    height: 18rem;
    border-radius: 9rem;
    object-fit: cover;
    border: 2px solid #38bdf8;
}

/* PROJECTS */
.project-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card > a {
    text-decoration: none;
    color: #fff;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* CONTACT */

#contact > .container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    width: 45em;
    height: 2.8rem;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #1e293b;
    color: white;
}

.btn {
    width: 100%;
    height: 2.8rem;
    background: #38bdf8;
    color: black;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #7dd3fc;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px 0;
    background: #1e293b;
    margin-top: 20px;
    font-size: 14px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 850px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* RESPONSIVE DESIGN */

@media (max-width: 650px) {

    /* Mobile menu visible */
    .hamburger {
        display: block;
    }

    .nav {
        position: absolute;
        top: 65px;
        right: 20px;
        background: #1e293b;
        padding: 15px;
        border-radius: 10px;
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    #menu-toggle:checked + .hamburger + .nav {
        display: flex;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}
